%h1 Editing Questions
- url = admins_question_path(@question)
= render :partial => 'form', :locals => {:url => url}
%div{:style => "float: left;width:100%;"}
  = link_to 'Back', admins_questions_path
