<h1>New question</h1>
<% url = admins_questions_path(@questions) %>
<%= render :partial => 'form', :locals => {:url => url} %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_questions_path %>
</div>




