<h1>Editing Shirt Sub Option</h1>
<% url = admins_shirt_sub_option_path(@shirt_sub_option) %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_shirt_sub_options_path %>
</div>
