<h1>Editing Ink Color Option</h1>
<% url = admins_ink_color_option_path(@ink_color_option) %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_ink_color_options_path %>
</div>
