%h1 New Style Category
- url = admins_style_categories_path
= render :partial => 'form', :locals => { :url => url }
%div{:style => "float: left;width:100%;"}
  = link_to 'Back', admins_style_categories_path
