.row
  .span6
    %h2 Listing pages
  .span5
    =# link_to 'New Page', new_admins_page_path, class: "btn btn-primary new_btn"
%table.table-striped.table.table-bordered
  %tr
    %th
    %th
  - @pages.each do |page|
    %tr
      %td
        = link_to page.page_name , admins_page_path(page)
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_admins_page_path(page)