%h1 Listing pages
%table
  %tr
    %th
    %th
    %th
  - @pages.each do |page|
    %tr
      %td= page.page_name
      %td= link_to 'Show', admins_page_path(page)
      %td= link_to 'Edit', edit_admins_page_path(page)
