<h1>New page</h1>
<% url = admins_page_path(@page) %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_pages_path %>
</div>