<h1>Listing Charity Categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @charity_categories.each do |charity_category| %>
      <tr>
        <td><%= charity_category.name %></td>
        <td><%= link_to 'Edit', edit_admins_charity_category_path(charity_category) %></td>
        <td><%= link_to 'Destroy', admins_charity_category_path(charity_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Charity Category', new_admins_charity_category_path %>
