:css
  .my_selected_btn {
    text-align: center;
    width: 400px;
    color: white;
    margin: 0 auto;
    font-family: ProximaNova-SemiboldItalic !important;
  }
  .active_btn {
    color: black;
  }

  .section{
    font-size: 15px;
    padding-top: 8px;
    float: left;
    margin-left: 80px;
    border-bottom: 1px dotted white;
  }

  a.vote{
    background-color: #009345;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    height: 39px;
    line-height: 39px;
    color: white;
    font-size: 16px;
    border: 1px solid #c6bebb;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 20%;
  }

  .featured-section h1{
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    width: 400px;
    margin: 0 auto;
    padding-top: 55px;
    font-family: GothamRnd-BoldIta !important;
    font-weight: bold;
    font-size: 54px;
  }

  .featured-section h5{
     text-align: center;
     color: white;
     width: 400px;
     margin: 0 auto;
     font-family: GothamRnd-Book !important;
     font-weight: bold;
     font-size: 13px;
     margin-top: 10px;

  }

  .featured-section{
    height: 250px;
    background: url("/assets/contest.png") no-repeat;
    margin-top: 66px;
  }

  .charity_holder{
    margin-top: 20px;
  }

  .img3{
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
  }

  .bg{
    background: #eeeeee;
    height: auto;
    overflow-y: auto;
    padding-bottom: 50px;
  }

  .pagination{
    float: right;
  }

  .apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
  }

  .apple_pagination .disabled {
    color: #aaaaaa;
  }

  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }

  .apple_pagination a {
  text-decoration: none;
  color: black;
  }

  .apple_pagination a, .apple_pagination span , .apple_pagination em {
    padding: 0.2em 0.3em;
    display: inline;
  }

  .my_li{
    line-height: 55px;
    margin-left: 10px;
    border-bottom: 1px solid #dedede;
  }

:javascript
  $(document).ready(function(){
    $(".image_entity").hover(function(event){
       $( event.target ).siblings("a").css("display","block");
       $(this).css("opacity","0.3");
       },function(event){
       $( event.target ).siblings("a").css("display","none");
       $(this).css("opacity","1");
     });

    $(".vote").hover(function(event){
       $( event.target ).siblings(".image_entity").css("opacity","0.3");
       $(this).css("background-color","#D6D6D6");
       $(this).css("display","block");
       },function(event){
       $( event.target ).siblings(".image_entity").css("opacity","1");
       $(this).css("background-color","#009345");
       $(this).css("display","none");
     });

    $(".design").click(function(){
      $(".section").removeClass("active_btn");
      $(this).addClass("active_btn");
      $("#design").css("display","block");
      $("#leaderboard").css("display","none");
    });

    $(".design").trigger("click");

    $(".leaderboard").click(function(){
      $(".section").removeClass("active_btn");
      $(this).addClass("active_btn");
      $("#design").css("display","none");
      $("#leaderboard").css("display","block");
    });

    $(".leaderboard_btn").click(function(){
      $(".leaderboard").trigger("click");
    })

    name_collection = [];
    vote_collection = [];
    name_collection.push( #{@contest_votes.collect{|c| c[:title]}.each{|v| v} } );
    vote_collection.push( #{@contest_votes.collect{|c| c[:vote]}.each{|v| v} } );

    $('#container').highcharts({
        chart: {
            type: 'column',
            margin: [ 50, 50, 100, 80]
        },
        title: {
            text: 'Leader-Board '
        },
        xAxis: {
            categories: name_collection[0] ,
            labels: {
                rotation: -45,
                align: 'right',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number Of Votes'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.x +'</b><br/>'+
                        'No of shares: '+ Highcharts.numberFormat(this.y, 1) +
                        ' ';
            }
        },
        series: [{
            name: 'No of shares',
            data: vote_collection[0],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });


  });

.featured-section
  %h1=@contest.title
  %h5 Join our contest!
  %h5 Raise Funds, Donate To Charities and Engage Students
  .progress_bar{style:"height: 35px;"}
    .my_selected_btn
      =link_to "View Designs", "#" , class:"design section"
      =link_to  "View Leader-board", "#" , class:"leaderboard section"

.bg
  .wrapper
    .charity_holder
      .main_content
        #design
          -@contest_entries.each_slice(3) do |slice|
            %div{style:"width:960px; height:300px; padding-left: 75px;"}
              -slice.each do |e|
                .img3
                  =image_tag e.image.url(:medium), style:"width: 200px; height: 200px;", class:"image_entity"
                  %strong{style:"color: #f18d34;"}=e.title
                  %span=e.description
                  =link_to vote_contest_path(e.id), class:"vote", style:"display: none" do
                    %i.icon-heart Vote
          %div.leaderboard_btn{style:"width: 185px;float: right;"}
            View the
            %strong Leaderboard
            =image_tag "btn_arrow.png", style:"float: right; position: relative;bottom: -4px;"
          .pagination
            = will_paginate @contest_entries , class:"apple_pagination"

        #leaderboard{style:"width:960px; height:900px; display: none;"}
          #container{:style => "min-width: 400px;width:960px; height: 500px; margin: 0 auto;"}
          %ul{style:"margin-top: 30px; margin-left: 40px;"}
            -@contest_votes.collect{|c| c[:title]}.each_with_index do |n,i|
              %li.my_li
                %strong{style:" margin-left: 15px;"}=(i+1).to_s+ ".  " + n

