<h1>Editing Reference</h1>
<% url = admins_reference_path(@reference) %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_references_path %>
</div>
