.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =#link_to "OneBS Admin" ,admins_banners_path
      #main-menu.nav-collapse.collapse{:style => "height: 0px;"}
        %ul#main-menu-left.nav
          %li.active
            =link_to "Orders" , admins_orders_path
          %li
            =link_to "Cost Matrix" , admins_cost_matrix_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Colors
              %b.caret
            %ul#swatch-menu.dropdown-menu
              %li
                =link_to "Color Group" , admins_color_groups_path
              %li
                =link_to "Colors" , admins_shirt_colors_path
          %li
            =link_to "Banners" , admins_banners_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Charities
              %b.caret
            %ul#swatch-menu.dropdown-menu
              %li
                =link_to "Charities" , admins_charities_path
              %li
                =link_to "Pending Approval" , pending_admins_charities_path
              %li
                =link_to "New Charity" , new_admins_charity_path
              %li.divider
              %li
                =link_to "Categories" , admins_charity_categories_path
              %li
                =link_to "New Category" , new_admins_charity_category_path
              %li.divider
              %li
                =link_to "Suggested" , admins_suggested_charities_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Events
              %b.caret
            %ul#swatch-menu.dropdown-menu
              %li
                =link_to "Pending Events" , admins_site_events_path
              %li
                =link_to "Event Subscribers" , subscribers_admins_site_events_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Shirt Styles
              %b.caret
            %ul#swatch-menu.dropdown-menu
              %li
                =link_to "Style Categories" , admins_style_categories_path
              %li
                =link_to "Style Sub Categories" , admins_style_sub_categories_path
              %li
                =link_to "Styles" , admins_styles_path
          %li
            =link_to "References" , admins_references_path 
          %li
            =link_to "Static Pages" , admins_pages_path
          %li
            =link_to "Image Upload" , admins_posts_path
          %li
            =link_to "Client Spotlights" , admins_client_spotlights_path 
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              FAQs
              %b.caret
            %ul#swatch-menu.dropdown-menu
              %li
                =link_to "Categories" , admins_questions_categories_path
              %li
                =link_to "New Category" , new_admins_questions_category_path
              %li.divider
              %li
                =link_to "Questions" , admins_questions_path
              %li
                =link_to "New Question" , new_admins_question_path
