<h1>Listing Suggested Charities</h1>

<table>
  <tr>
    <th>URL</th>
    <th></th>
  </tr>

  <% @suggested_charities.each do |suggested_charity| %>
      <tr>
        <td><%= suggested_charity.url %></td>
        <td><%= link_to 'Destroy', admins_suggested_charity_path(suggested_charity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

