
<div class="btn_align">
  <div class="calc_btn">
    <div class="calc_box_div">
      <div class="calc_box_img_div"><img src="/assets/search_icon.png"/></div>

      <div class="calc_box_input_div">
        <div class="calc_box_input_div_left">
          <input type="text" size="30" placeholder="How many t-shirts do you order?" id="number_of_shirts"/></div>

        <div class="calc_box_input_div_right">
          <a href="javascript:;" id="calculate_value" class="select-link">CALCULATE</a>
        </div>
        <!--<div class="calc_box_input_div_right"><a href="javascript:;" id="calculate_value">CALCULATE</a></div>-->
        <!--<a href="/charities">Choose Your Charity</a>-->
      </div>
    </div>
  </div>
  <% if val != nil %>
      <div class="calc_img_div"><img src="/assets/calc_arrow.png"/></div>
  <% end %>
</div>
<script type="text/javascript">
    $("#calculate_value").click(function () {
        $(".selected-active").each(function () {
            $(this).children("a").html("CALCULATE");
            $(this).removeClass("selected-active");
        });
        $(this).closest(".selected_btn").addClass("selected-active");
        $(this).html("CALCULATE Selected");
        val = $('#number_of_shirts').val();
        $.get("/home/calculated_value_popup?number_of_shirts=" + val, function (response) {
            $('#request-quote').html(response);
            $('#request-quote').bPopup({
                closeClass: 'bot_it',
                onClose: function () {
                    $(".selected_btn").removeClass("selected-active");
                    $(".select-link").html("CALCULATE");
                }
            });

        });
        return false;
    });
</script>