:javascript
  /*$(function() {
      $( "#tabs" ).tabs({
        beforeLoad: function( event, ui ) {
          ui.jqXHR.error(function() {
            ui.panel.html(
              "Couldn't load this tab. We'll try to fix this as soon as possible. " );
          });
        }
      });
  }); */


- @page_content = nil
- content_for :head do
  - @title = "About - OneBillionShirts"
  = @title
- if @page_content.present?
  -content_for(:about_head) do
    =raw(@header_content)
  = raw(@page_content)
  %div.leaderboard_btn.right
    =link_to "/how_it_works" do
      Learn
      %strong How It Works
      =image_tag "btn_arrow.png",class:"right"
  %div.leaderboard_btn.left
    =link_to "/our_story" do
      =image_tag "btn_arrow.png", class:"left"
      %strong Our Story

-else
  -content_for(:about_head) do
    .slider_hold{:style => "height:auto;"}
      .slider_text
        %h1
          We consider this a profit
          %span sharing
          initiative.
        %p Get high quality shirts, save money, and help change the world!
      / slider_text ends
  .wrapper
    .my_heading
      %hr.style-left
      %h3{style:"margin-left: 105px;"} Our Mission
      %hr.style-right
    .img_det_txt
      .abt_list
        %h1 Why ?
        %p
          The scope of this industry is massive and the product is becoming commoditized. With 1 Billion units per
          year,
          a slight shift can create a huge impact. All print shops use the same blank shirts, same inks, and same
          techniques. The only difference is the profit margin.
      / abt_list ends
      .abt_list
        .right{style:"color:#aa8366;"} How ?
        .left
          We run an industry leading screen print company and through technology, strategic partnerships, and
          experience,
          we can print your t-shirts and save you money while providing a fast turnaround and
          quality product. Once customers are aware of this, they will begin pushing other screen print
          companies to join this movement which will create a tidal wave of wealth to charity.
      / abt_list ends
      .abt_list
        %h1{style:"color:#807aa0"} What ?
        %p
          The big secret is that there is no secret. We will print your shirts the same way using the same shirt and
          the
          same ink as your current vendor. We will give you the best price and when printing with us you will have the
          opportunity to choose your favorite charity and we will donate money to them on your behalf.


  %div.leaderboard_btn.right
    =link_to "/how_it_works" do
      Learn
      %strong How It Works
      =image_tag "btn_arrow.png" ,class:"right"
  %div.leaderboard_btn.left
    =link_to "/our_story" do
      =image_tag "btn_arrow.png" , class:"left"
      %strong Our Story
