<% content_for :head do %>
    <% @title = "Products - OneBillionShirts" %>
    <%= @title %>
<% end %>
<div class="wrapper">
  <div class="ccc_hold">
    <div class="order_text">
      <div class="brand_head">
        <h1>You need it? We<span>got</span>it!</h1>
        <p>We carry hundreds of brands and thousands of individual SKU's from regular t-shirts to high quality sweat wicking tech shirts. If you need it, we carry it!</p>
      </div><!--brand_head-->
      <div class="brands_carry">
        <h1>Products & Brands we carry...</h1>
        <div class="brands_shrts_hold">
          <div class="brand_list">
            <div class="t_shirt_one"><img src="/assets/shirt_1.png" style="height:168px;"/></div><!--t_shirt ends-->
            <p>T-shirts:</p>
            <span>American Apparel</span>
            <span>Alternative Apparel</span>
            <span>Addidas</span>
            <span>Champion</span>
            <span>Comfort Colors</span>
            <span>New Balance</span>
            <span>Gildan</span>
            <span>Jerzees</span>
            <span>Anvil</span>
            <span>Fruit of the Loom</span>
            <span>Hanes</span>
            <span>Next Level</span>
            <span>Bella</span>
            <span>Canvas</span>
            <span>Badger</span>
            <span>C2 Sport</span>
            <span>Bayside</span>
            <span>Union Made</span>
            <h2>Tech Shirts:</h2>
            <span>Addidas</span>
            <span>Champion</span>
            <span>New Balance</span>
            <span>Gildan</span>
            <span>Port Authority</span>
            <span>Sport-Tek</span>
            <span>Jerzees</span>
          </div><!--brand_list ends-->
          <div class="brand_list">
            <div class="t_shirt"><img src="/assets/shirt_2.png" /></div><!--t_shirt ends-->
            <p>Long Sleeve T-shirts:</p>
            <span>American Apparel</span>
            <span>Alternative Apparel</span>
            <span>Addidas</span>
            <span>Champion</span>
            <span>New Balance</span>
            <span>Gildan</span>
            <span>Jerzees</span>
            <span>Anvil</span>
            <span>Fruit of the Loom</span>
            <span>Hanes</span>
            <span>Next Level</span>
            <span>Bella</span>
            <span>Canvas</span>
            <h2>Tech Shirts:</h2>
            <span>Ultra Club</span>
            <span>Addidas</span>
            <span>Champion</span>
            <span>New Balance</span>
            <span>Gildan Jerzees</span>
            <span>Bella</span>
            <span>Canvas</span>
            <span>Sport-Tek</span>
          </div><!--brand_list ends-->
          <div class="brand_list">
            <div class="t_shirt"><img src="/assets/shirt_3.png" /></div><!--t_shirt ends-->
            <p>Sweatshirts:</p>
            <span>American Apparel</span>
            <span>Alternative Apparel</span>
            <span>Ultraclub</span>
            <span>Champion</span>
            <span>Gildan</span>
            <span>Jerzees</span>
            <span>Fruit of the Loom</span>
            <span>Hanes</span>
            <span>Badger</span>
            <span>Bayside</span>
            <span>J America</span>
            <span>Weatherproof</span>
            <span>Sport-Tek</span>
            <span>Nike</span>
            <span>Russell</span>
          </div><!--brand_list ends-->
          <div class="brand_list">
            <div class="t_shirt"><img src="/assets/shirt_4.png" /></div><!--t_shirt ends-->
            <p>Polo Shirts:</p>
            <span>American Apparel</span>
            <span>Ultraclub</span>
            <span>Addidas</span>
            <span>Izod</span>
            <span>Outer Banks</span>
            <span>Champion</span>
            <span>Gildan</span>
            <span>Anvil</span>
            <span>Hanes</span>
            <span>Next Level</span>
            <span>Badger</span>
            <span>C2 Sport</span>
            <span>A4</span>
            <span>Bayside</span>
            <span>Sport-Tek</span>
            <span>Nike</span>
          </div><!--brand_list ends-->
        </div><!--brands_shrts_hold ends-->
        <h2>and many more styles...</h2>
      </div><!--brands_carry ends-->
    </div><!--ccc_hold ends-->
  </div><!--order_text ends-->
</div><!--wrapper ends-->
<div class="wrapper"><%= render :partial => "home/calculate_input_field", :locals => {:val => nil} %></div>
<style type="text/css">

    .calc_btn {
        float: left;
        margin: 0 auto 0 122px;
        padding: 12px 0 10px;
        width: 550px;
    }

</style>

