:css
  body{
   width: 500px;
   margin: 0;
  }

- e = @customer
%div{style:"background-color:white;width:650px;height:auto;", id:"style_picker-#{e.id}"}
  %div{style:"width:100%; height:100px; text-align:center; color:green;font-size: 55px;"} Thank you!
  %div{style:"width:100%; height:40px; text-align:center; color:white;background: #00a651;font-size: 20px;line-height: 36px;"} Customer That Care!
  %div{style:"margin-left: auto; margin-right: auto; width: 300px;margin-top: 20px;"}
    =image_tag e.logo.path(:medium)
  %div{style:"margin-left: auto; margin-right: auto; width: 300px;margin-top: 20px;margin-bottom: 0px;"}
    %strong{style:"color: #4c4c4c;font-style: italic;"} For printing custom apparel that cares and leveraging your order for a charity donation to ..
    -#%span=e.charity ? e.charity.name : e.charity_name
  %div{style:"margin-left: auto; margin-right: auto; width: 300px;margin-top: 20px;margin-bottom: 40px;"}
    =image_tag e.charity_logo ? e.charity_logo.path(:medium) : (e.charity ? e.charity.logo.image.path(:medium) : "/assets/images/no_logo.jpg")
  .socialz{style:"margin-left: auto; margin-right: auto; width: 100%; float: none;background: #eaeaea;height: 40px; padding-top: 10px;"}
    %strong{style:"float: left;margin: 8px;"} SHARE CARD:
    %span.st_sharethis_large{:displaytext => "ShareThis"}
    %span.st_facebook_large{:displaytext => "Facebook"}
    %span.st_twitter_large{:st_via => ""}
    %span#linkdcount.st_linkedin_large{:displaytext => "LinkedIn"}
    %span.st_pinterest_large{:displaytext => "Pinterest"}
    %span.st_email_large{:displaytext => "Email"}
    %span{style:"float: right;line-height: 35px;margin-right: 10px;"} PRINT
    %span{style:"float: right;line-height: 35px;"} ::
    %span{style:"float: right;line-height: 35px;"} DOWNLOAD