- content_for :head do
  - @title = "FAQ'S' - OneBillionShirts"
  = @title
-content_for(:about_head) do
  .faq_text
    %h1
      Got Questions?
    %h2{style:"width: 50%;"}
      We Have Answers...
    %h3
      Get high quality shirts, save money, and helo change the world!
  / faq_text ends
.faq_info
  .my_heading
    %hr.style-left
    %h3 Frequently Asked Questions
    %hr.style-right
  .faq_lft
    .faq_list
      %ul#accordion
        - @questions_categories.each do |questions_category|
          %li
            %a{:href => "#"}= questions_category.category
            %ul.questions{:style => "display:none;"}
              - questions_category.questions.each do |question|
                %li.question_title{"data-answer" => question.answer.html_safe, "data-title" => question.question}
                  = question.question
  .faq_rit
    .title{:style=>"font-family: Arial; font-size: 24px; font-weight: normal; height: 28px;margin-bottom: 25px;"}
      Here goes the title
    .answer{:style=>"font-family: Arial; font-size: 18px;line-height: 30px;"}
      For every friend you successfully refer you get $5 of DSC Credits. These DSC Credits will be applied first before any charges for your monthly subscription or extras each month. To refer a friend just copy your unique referral link from your account page, share with a friend, make sure they click on your link to sign up… and Bam! $5 of DSC Credits gets added to your account.
    %div
      Need more info?
      %a.see_us{:href => "/contact"} Contact Us

%div.leaderboard_btn.right
  =link_to "/share_contest" do
    %strong Learn more about Contests
    =image_tag "btn_arrow.png", class:"right"
%div.leaderboard_btn.left
  =link_to "/facility" do
    =image_tag "btn_arrow.png", class:"left"
    %strong Our Facility
  -#.learn_more_about_contest
  -#  =link_to "/share_contest" do
  -#    =image_tag "learn_contest.png"

/ wrapper ends
:javascript
  jQuery(function($) {


    first_q = $(".question_title").first()
    question = first_q.data("title")
    answer = first_q.data("answer")

    $(".faq_rit .title").text(question)
    $(".faq_rit .answer").html(answer)

    $(".question_title").click(function(){
      question = $(this).data("title")
      answer = $(this).data("answer")

      $(".faq_rit .title").text(question)
      $(".faq_rit .answer").html(answer)
    })

    $("#accordion > li > a").click(function(){
      current = $(this).parent().find("ul.questions")
      $('#accordion ul.questions').not(current).slideUp(150)
      $(this).parent().find("ul.questions").slideToggle(150);
      return false;
    });

    $("#accordion > li > a:first").trigger("click")
  });
