- content_for :head do
  - @title = "How it works - OneBillionShirts"
  = @title
- if @page_content.present?
  -content_for(:about_head) do
    =raw(@header_content)
  = raw(@page_content)
:css
  .calc_btn {
      float: left;
      margin: 0 auto 0 122px;
      padding: 12px 0 10px;
      width: 550px;
  }
