- content_for :head do
  - @title = "How it works - OneBillionShirts"
  = @title
- if @page_content.present?
  -content_for(:about_head) do
    =raw(@header_content)
  = raw(@page_content)
  %div.leaderboard_btn.right
    =link_to "/faq" do
      %strong FAQ
      =image_tag "btn_arrow.png", class:"right"
  %div.leaderboard_btn.left
    =link_to "/our_story" do
      %strong Our Story
      =image_tag "btn_arrow.png", class:"left"
:css
  .calc_btn {
      float: left;
      margin: 0 auto 0 122px;
      padding: 12px 0 10px;
      width: 550px;
  }
