- content_for :head do
  - @title = "OneBillionShirts.org - Custom T-shirts For Good!"
  = @title
.featured-section
  .wrapper
    .inner_wrapper_div
      %h1
        Your Custom T-shirts Can
        %br
        Change The World!
      .process-images
      .quick_quote
        %a.quick{href: "/orders/quick_quote"}
          Quick Quote
        %p
          %span
            or
          %a.inline{href: "/orders/quick_quote"}
            Learn More
.wrapper
  .our_idea
    %h3
      “Being saved from a war gave me a deep appreciation
      for the work done by charities, now it is my mission to make
      sure every custom t-shirt printed has a direct impact on others”
    .testi
      %img{src:"/assets/testimonial-person-thumb.png"}
      %h4
        Albion Calaj, Co-founder
  / our_idea ends
/ wrapper ends
.wrapper
  .top-charity{style:"position:relative"}
    .featured_banner
    .col
      =link_to (image_tag Charity.default.first.logo.image(:thumb),  style:"width:250px;border:1px solid #ccc"), charity_path(Charity.default.first) unless Charity.default.first.logo.blank?
      -#%img{src:"/assets/dummy.png"}
    .col
      %h3
        =Charity.default.first.name
      %span
        =Charity.default.first.mission_statement.html_safe
      %a{href:"#{charity_path(Charity.default.first)}"} Learn More
  .featured-area
    %ul.bxslider
      -Charity.featured.each do |char|
        %li
          =link_to (image_tag char.logo.image(:thumb),  style:"width:100px;"), charity_path(char) unless char.logo.blank?


  / our_idea ends
/ wrapper ends
.wrapper{style:"clear:both;"}
  .how_it_works
    .how_img
      %img{src:"/assets/how-it-works.png"}
    .how_bottom
      .col
        %h3
          %span
            Charities 
          love our concept because
          for every t-shirt we print there is a
          minimum of 25¢ being redirected
          back to a non-profit organization
          creating a brand new multi-million
          dollar fundraising stream!
        %a{href:"/participate"} Participate
      .col{style:"border-left:1px solid #ccc;"}
        %h3
          %span
            Customers
          love us because we save
          96% of clients money compared to
          their current vendor but also donate
          directly from our pockets to a charity
          of their choice allowing them to save
          money and help others!
        %a{href:"how_it_works"} How It Works
  / our_idea ends
/ wrapper ends
.wrapper{style:"clear:both;"}
  .final-area{style:"float:left;margin-bottom:40px;"}
    %ul.bxbig
      -ClientSpotlight.all.each do |char|
        %li
          .single_charity
            .col{style:"width:50%;padding:0px 40px;"}
              %h3{style:"text-align: justify;font-weight: normal;font-size: 14px;"}
                =char.description.html_safe
            .col{style:"width:30%"}
              -unless char.client_spotlight_images.first.blank?
                =link_to (image_tag char.client_spotlight_images.first.asset(:thumb), style:"float: right;padding-right: 45px;"), ""

  / our_idea ends
/ wrapper ends
.wrapper{style:"clear:both;"}
  .bottom_contain
    .bottom_quote
      %a.quick{href: "/orders/quick_quote"}
        Quick Quote
      %p
        %span
          or
        %a.inline
          Learn More
    %h4 
      We will beat your current price
      & donate in your name from our profit.
      Now, that is a win-win!
    %img{src:"/assets/sketchy-arrow.png"}

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38304888-1']);
  _gaq.push(['_trackPageview']);

  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();

  $("#calculate_value1").click(function () {
      $(".selected-active").each(function () {
          $(this).children("a").html("CALCULATE");
          $(this).removeClass("selected-active");
      });
      $(this).closest(".selected_btn").addClass("selected-active");
      $(this).html("CALCULATE Selected");
      val = $('#number_of_shirts1').val();
      $.get("/home/calculated_value_popup?number_of_shirts=" + val, function (response) {
          $('#request-quote').html(response);
          $('#request-quote').bPopup({
              closeClass: 'bot_it',
              onClose: function () {
                  $(".selected_btn").removeClass("selected-active");
                  $(".select-link").html("CALCULATE");
              }
          });

      });
      return false;
  });

  $(document).ready(function () {
      min = setInterval("refresh_name()", 2000);
      $(".bxslider").bxSlider({nextText: "", prevText:"", auto: true, slideWidth: 100, moveSlides: 1, minSlides: 8, maxSlides: 8, pager: false})
      $(".bxbig").bxSlider({nextText: "", prevText:"", auto: false, slideWidth: 960, moveSlides: 1, minSlides: 1, maxSlides: 1, pager: false})
  });
  function refresh_name() {
      var myArray = ['Event', 'Promo', 'RACE', "League", "Game", "Corporate", "Volunteer", "School", "Party", "Reunion"];
      var rand = myArray[Math.floor(Math.random() * myArray.length)];
      $('#show_name').html(rand);
  }
:css
  .calc_img_div {
      float: left;
  }

  .calc_img_div img {
      margin: 21px 0 0 412px;
  }
