- content_for :head do
  - @title = "OneBillionShirts.org - Custom T-shirts For Good!"
  = @title
.featured-section
  .wrapper
    .inner_wrapper_div
      %h1
        Your Custom T-shirts Can Change The World!
      .process-images
      .quick_quote
        %a.quick{href: "/orders/quick_quote"}
          Quick Quote
        %p
          %span
            or
          %a.inline
            Learn More
.wrapper
  .our_idea
    %h3
      “Being saved from a war gave me a deep appreciation
      for the work done by charities, now it is my mission to make
      sure every custom t-shirt printed has a direct impact on others”
    .testi
      %img{src:"/assets/testimonial-person-thumb.png"}
      %h4
        Albion Calaj, Co-founder
  / our_idea ends
/ wrapper ends
.stages_bg
  .wrapper
    .process_list
      %h1 It's really simple
      .process_stages
        .stages_1
          %img{:src => "/assets/stage_1_img.png"}/
          .stage_txt.mrg_L_1
            %span 1.
            %p Choose a charity.
        / stages_1 ends
        .stages_1
          %img{:src => "/assets/stage_2_img.png"}/
          .stage_txt.mrg_L_2
            %span 2.
            %p Order Shirts.
        / stages_1 ends
        .stages_1
          %img{:src => "/assets/stage_3_img.png"}/
          .stage_txt.mrg_L_3
            %span 3.
            %p Receive Shirts &amp; Help Others.
          / stage_txt
        / stages_1 ends
      / process_stages ends
    / process_list ends
  / wrapper ends
/ idea_proces ends
/ sliding_text ends
.wrapper{style:"clear:both;"}
  .bottom_contain
    .bottom_quote
      %a.quick{href: "/orders/quick_quote"}
        Quick Quote
      %p
        %span
          or
        %a.inline
          Learn More
    %h4 
      We will beat your current price
      & donate in your name from our profit.
      Now, that is a win-win!
    %img{src:"/assets/sketchy-arrow.png"}

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38304888-1']);
  _gaq.push(['_trackPageview']);

  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();

  $("#calculate_value1").click(function () {
      $(".selected-active").each(function () {
          $(this).children("a").html("CALCULATE");
          $(this).removeClass("selected-active");
      });
      $(this).closest(".selected_btn").addClass("selected-active");
      $(this).html("CALCULATE Selected");
      val = $('#number_of_shirts1').val();
      $.get("/home/calculated_value_popup?number_of_shirts=" + val, function (response) {
          $('#request-quote').html(response);
          $('#request-quote').bPopup({
              closeClass: 'bot_it',
              onClose: function () {
                  $(".selected_btn").removeClass("selected-active");
                  $(".select-link").html("CALCULATE");
              }
          });

      });
      return false;
  });

  $(document).ready(function () {
      min = setInterval("refresh_name()", 2000);
  });
  function refresh_name() {
      var myArray = ['Event', 'Promo', 'RACE', "League", "Game", "Corporate", "Volunteer", "School", "Party", "Reunion"];
      var rand = myArray[Math.floor(Math.random() * myArray.length)];
      $('#show_name').html(rand);
  }
:css
  .calc_img_div {
      float: left;
  }

  .calc_img_div img {
      margin: 21px 0 0 412px;
  }
