- content_for :head do
  - @title = "Our Story - OneBillionShirts"
  = @title
- @page_content = Page.find_by_page_name('our_story').page_content
- @header_content = Page.find_by_page_name('our_story').header_content

- if @page_content.present?
  -content_for(:about_head) do
    =raw(@header_content)
  = raw(@page_content)

  %div.leaderboard_btn.right
    =link_to "/how_it_works" do
      %strong How It Works
      =image_tag "btn_arrow.png", class:"right"
  %div.leaderboard_btn.left
    =link_to "/about" do
      %strong Our Mission
      =image_tag "btn_arrow.png", class:"left"


- else
  -content_for(:about_head) do
    .slider_hold{:style => "height:auto;"}
      .slider_text
        %h1
          %span Together
          we can impact the lives of millions.
        %p Let's work together to make our world a better place
      / slider_text ends
    / slider_hold ends
  .wrapper
    .my_heading
      %hr.style-left{style:"width: 300px;"}
      %h3{style:"margin-left: 95px;"}  Our Story
      %hr.style-right{style:"width: 300px;"}
    .img_det_txt
      %p
        Our CEO, Albion Calaj, grew up in Ferizaj, Kosovo and had a normal life until one day it became quite abnormal, to say the least.  The Kosovo War broke out right before his eyes and in ’99 at age 14 he was rescued and brought to the USA with the help of a group of charities.  Many of his people were not so lucky.  At a young age he was exposed to atrocities no adult should see.
        %br
        %br
        Here is an article we found of young Albi being interviewed his first weeks at Fort Dix, New Jersey.
        %br
        %br
        Provided with a second chance at life, he vowed that one day he would somehow pay back all of the people that saved him.  After working hard and putting himself through college, Albi ended up at Morgan Stanley.  He was living the real life American Dream until the echos of his promise were getting too loud to ignore.
        %br
        %br
        He meets Greg, an entrepreneur working in the custom apparel industry.  After hearing Albi’s heart-wrenching story and personal mission they decide to start a business together with the intentions of providing the platform needed to honor those that saved his life and pay it forward on a grand scale.  Their mission is to offer as many people the same opportunity Albi was blessed with, hope when it seems there is none.
        %br
        %br
        Onebillionshirts.org is one man’s pursuit to pay it forward.  Albi has a very real and personal experience with charity and its benefits and it is our mission to raise money and awareness for charities to allow them to continue doing what they do best, helping others!
        %br
        %br
        Need T-shirts?  Save money, help others, and pay it forward!
        %br
        %br
      .albi
        = image_tag "Albi_Final.png"
        %ul
          %strong Albion Calaj
          %li - From Ferizaj, Kosovo
          %li -  Speaks 4 languages
          %li -  Loves Formula 1 racing
          %li -  Was offered job by C.I.A.
          %li -  Stands six foot three and three quarters
          %li -  Graduated Northeastern University
          %li -  Strong non-profit background
          %li -  Oversees operations & production
      .greg
        = image_tag "Greg_Final.png"
        %ul
          %strong Gregory Berry
          %li -  From Waterbury, CT
          %li -  Plays pickup basketball daily
          %li -  Claims he brought Whalers back to Hartford (just ask)
          %li -  Started national food distribution company in college
          %li -  Lives in Boston with wife & son
          %li -  Does not own a television
          %li -  Created first custom apparel company in 2006
          %li -  In charge of marketing & company vision




  %div.leaderboard_btn.right
    =link_to "/how_it_works" do
      %strong How It Works
      =image_tag "btn_arrow.png", class:"right"
  %div.leaderboard_btn.left
    =link_to "/about" do
      %strong Our Mission
      =image_tag "btn_arrow.png", class:"left"
:css
  .calc_btn {
      float: left;
      margin: 0 auto 0 122px;
      padding: 12px 0 10px;
      width: 550px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    color: #645D5D;
  }
  .albi{
    float: left;
    margin-bottom: 100px;
  }
  .greg{
    float: right;
    margin-bottom: 100px;
  }
  .greg > ul , .albi > ul{
    line-height: 30px
  }

  .second_header > span > a.current:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin: 43px 0 0 12px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 14px solid white;
  }