- content_for :head do
  - @title = "Participate"
  = @title
  - @page_content = @page.page_content
  - @header_content =@page.header_content

- if @page.present?
  -content_for(:about_head) do
    =raw(@header_content)
  = raw(@page_content)
- else
  .wrapper= render :partial => "home/calculate_input_field", :locals => {:val => nil}
:css
  .calc_btn {
      float: left;
      margin: 0 auto 0 122px;
      padding: 12px 0 10px;
      width: 550px;
  }
