.socialize
  .float-left.margin_left
    %h3.col1 FACEBOOK
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fonebillionshirts&width=400&height=590&colorscheme=light&show_faces=true&header=false&stream=true&show_border=true&appId=491891004239366", :style => "background: white;border:none; overflow:hidden; width:300px; height:590px;"}
  .float-left.margin_left
    %h3.col1 INSTAGRAM
    %iframe#iframecode{frameborder: "0", onload: "", scrolling: "no", src: "http://instaembedder.com/gallery.php?username=onebillionshirts&hashtag=&width=150&cols=2&frame=1&image_border=10&rows=4&cell_margin=10&display_username=0&likes=1&comments=1&date=1&link=1&caption=0&color=gray", style: "height: 590px;border: 1px solid #E4E4E4;overflow-y: scroll;", width: "356"}  .float-left.margin_left
  .float-left.margin_left
    %h3.col1 TWITTER
    %a.twitter-timeline{href:"https://twitter.com/1BillionShirts", "data-widget-id"=>"378426161040084992", style:"min-width: 300px;"}Tweets by @1BillionShirts
    %script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

%div.leaderboard_btn.right
  =link_to "/top_ten_reasons" do
    %strong Manifesto
    =image_tag "btn_arrow.png", class:"right"
%div.leaderboard_btn.left
  =link_to "/share_contest" do
    =image_tag "btn_arrow.png", class:"left"
    %strong Learn more about Contests
