.socialize
  .float-left.margin_left
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fonebillionshirts&width=400&height=590&colorscheme=light&show_faces=true&header=true&stream=true&show_border=true&appId=491891004239366", :style => "border:none; overflow:hidden; width:400px; height:590px;"}
  .float-left.margin_left
    %a.twitter-timeline{href:"https://twitter.com/1BillionShirts", "data-widget-id"=>"378426161040084992", style:"min-width: 430px;"}Tweets by @1BillionShirts
    %script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

