.row
  .span6
    %h2 Listing posts
  .span5
    = link_to 'New Post', new_admins_post_path, class: "btn btn-primary new_btn"
%table.table-striped.table.table-bordered
  %tr
    %th Title
    %th Content
    %th
  - @posts.each do |post|
    %tr
      %td
        =link_to post.title, admins_post_path(post)
      %td= post.content
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_admins_post_path(post)
        = link_to '<i class="icon-remove"></i>'.html_safe, admins_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
