<div class="progress_hold">
  <div class="p_bar">
    <div class="p_bar_img"><img src="/assets/progress_<%= count %>.png"/></div>
    <!--p_bar_img ends-->
    <div class="p_bar_txt">
      <div class="p_bar_list">Quantity</div>
      <!--p_bar_list ends-->
      <div class="p_bar_list">Shirt Color</div>
      <!--p_bar_list ends-->
      <div class="p_bar_list">Sizing</div>
      <!--p_bar_list ends-->
      <div class="p_bar_list">Ink Colors</div>
      <!--p_bar_list ends-->
      <div class="p_bar_list">Finish!</div>
      <!--p_bar_list ends-->
    </div>
    <!--p_bar_txt ends-->
  </div>
  <!--p_bar ends-->
</div><!--progress_hold ends-->