<% content_for :head do %>
    <% @title = "Order - OneBillionShirts" %>
    <%= @title %>
<% end %>
<div class="wrapper">
  <div id="form-holder">
    <%= render :partial => "form_1" %>
  </div>
</div>