<div style="padding:40px 170px;">
  <br />
  <h2> Quick Quote Form </h2>

  <div style="clear:both;margin-top:20px">
    <div style="width:20%; float:left;">
      <h3> Colors</h3>
    </div>
    <div >
      <%= select_tag "people", options_from_collection_for_select(@charities, "id", "name") %>
    </div>
  </div>
  <div style="clear:both;margin-top:20px;height:90px;">
    <div style="width:20%; float:left;">
      <h3> Color</h3>
    </div>
    <div >
      <div class="color_boxes">
        <div class="color_box_div">
          <div class="color_box" style="background: #5ea682" id="1"></div>
          <div data-title="Irish Green" class="color_code_div"></div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #2170c0" id="2"></div>
          <div data-title="Royal" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #e2e3e5" id="3"></div>
          <div data-title="Ash" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #fe78d0" id="4"></div>
          <div data-title="Azalea" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #000000" id="5"></div>
          <div data-title="Black" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #76042d" id="7"></div>
          <div data-title="Cardinal" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #7286b1" id="8"></div>
          <div data-title="Carolina Blue" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #303232" id="9"></div>
          <div data-title="Charcoal" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #f8d220" id="10"></div>
          <div data-title="Daisy" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #462a19" id="11"></div>
          <div data-title="Dark Chocolate" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #303232" id="12"></div>
          <div data-title="Dark Heather" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #304328" id="13"></div>
          <div data-title="Forest Green" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #f6af16" id="14"></div>
          <div data-title="Gold" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #525a72" id="15"></div>
          <div data-title="Heather Indigo" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #c7287b" id="16"></div>
          <div data-title="Helliconia" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #d3d3d3" id="17"></div>
          <div data-title="Ice Grey" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #4d6bb8" id="18"></div>
          <div data-title="Iris" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #3a7a51" id="19"></div>
          <div data-title="Kelly Green" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #89a040" id="23"></div>
          <div data-title="Kiwi" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #c3d7f5" id="24"></div>
          <div data-title="Light Blue" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #fcd2e1" id="25"></div>
          <div data-title="Light Pink" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #c1fe6e" id="26"></div>
          <div data-title="Lime" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #6c1039" id="27"></div>
          <div data-title="Maroon" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #554d2e" id="28"></div>
          <div data-title="Military Green" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #1c2041" id="29"></div>
          <div data-title="Navy" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #fe6600" id="30"></div>
          <div data-title="Orange" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #51008f" id="31"></div>
          <div data-title="Purple" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #ab1223" id="32"></div>
          <div data-title="Red" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #154395" id="33"></div>
          <div data-title="Royal" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #e2fe0f" id="34"></div>
          <div data-title="Safety Green" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #e96016" id="35"></div>
          <div data-title="Safety Orange" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #fd9bc0" id="36"></div>
          <div data-title="Safety Pink" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #989c9d" id="37"></div>
          <div data-title="Sport Grey" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #8271c3" id="38"></div>
          <div data-title="Violet" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #FFFFFF" id="39"></div>
          <div data-title="White" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
        <div class="color_box_div">
          <div class="color_box" style="background: #fee48b" id="40"></div>
          <div data-title="Yellow Haze" class="color_code_div">
          </div>
        </div>
        <!--color_box ends-->
      </div>
    </div>
  </div>
  <div style="clear:both;margin-top:20px">
    <div style="width:20%; float:left;">
      <h3> Sizes</h3>
    </div>
    <div >
      <div class="shirt_sizes">
        <div class="sizes_hold">
          <div class="youth_sizes">
            <p>&nbsp;</p>
            <div class="size_input">
              <p>S</p>
            </div>
            <div class="size_input">
              <p>M</p>
            </div>
            <div class="size_input">
              <p>L</p>
            </div>
            <div class="size_input">
              <p>XL</p>
            </div>
            <div class="size_input">
              <p>XXL</p>
            </div>
          </div>
          <div class="youth_sizes">
            <p>Youth</p>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="1_1_values_" name="1_1_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="1_2_values_" name="1_2_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="1_3_values_" name="1_3_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="1_4_values_" name="1_4_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="1_5_values_" name="1_5_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
          </div>
          <div class="youth_sizes">
            <p>Men</p>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="2_1_values_" name="2_1_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="2_2_values_" name="2_2_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="2_3_values_" name="2_3_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="2_4_values_" name="2_4_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="2_5_values_" name="2_5_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
          </div>
          <div class="youth_sizes">
            <p>Women</p>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="3_1_values_" name="3_1_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="3_2_values_" name="3_2_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="3_3_values_" name="3_3_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="3_4_values_" name="3_4_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
            <div class="size_input">
              <div class="size_input_mid">
                <input id="3_5_values_" name="3_5_values[]" type="text">
              </div>
              <!--size_input_mid ends-->
            </div>
          </div>
          <!--youth_sizes ends-->


        </div>
        <!--sizes_hold ends-->
      </div>
    </div>
  </div>
  <div style="clear:both;margin-top:20px">
    <div style="width:20%; float:left;">
      <h3> Ink Colors</h3>
    </div>
    <div >
      <label> Front </label> 
      <%=select_tag :front, options_for_select((1..10).step(1).to_a.map{|s| ["#{s}", s]}), style: "display:inline;"%>
      <label> Back</label> 
      <%=select_tag :front, options_for_select((1..10).step(1).to_a.map{|s| ["#{s}", s]}), style: "display:inline;"%>
    </div>
  </div>
</div>
