<% content_for :head do %>
    <% @title = "Order - OneBillionShirts" %>
    <%= @title %>
<% end %>
<div class="wrapper">
  <div class="order_form_hold">
    <div class="thank_u">
      <p>Your message was sent successfully and a representative will get back to you within the next business day.</p>

      <div class="thankyou_img">
        <img src="/assets/thank_u_img.png"/>
      </div>
      <!--thankyou_img ends-->
      <div class="connect_with_us">
        <p>Connect with us</p>

        <div class="socialz_icon">
          <a href="http://www.facebook.com/pages/Onebillionshirtsorg/537223036310715" target="_blank"><img src="/assets/fb_img.png"/></a>
          <a href="https://twitter.com/1billionshirts" target="_blank"><img src="/assets/twitter_img.png"/></a>
        </div>
        <!--socialz_icon ends-->
      </div>
      <!--connect_with_us ends-->
    </div>
    <!--order_text ends-->
  </div>
  <!--order_form_hold ends-->
</div><!--wrapper ends-->