%div{style:"width:100%; height: 53%;  background: #e8e8e8;"}
  %h2{style:"margin:120px;text-align:justify;padding-top: 100px;font-family: GothamRnd-Book !important;"}
    Thank you! we have received your order, A representative will contact you soon
