<%= render :partial => "/charities/search_form" %>
<div class="categories-holder">
  <% if @causes.present? %>
      <div class="category-list">
        <% @causes.each do |cause| %>
            <div class="category">
              <img src="/assets/back_btn_2.png"/>
              <a href="javascript:;"  onclick="get_category_charities('<%=cause.id%>');"><%= cause.name %> </a>
              <%#= link_to cause.name, "/charities/get_charities?key=#{cause.id}", :class => "cause-link" %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    function get_category_charities(category_id) {
        $.ajax({
            url: "/charities/get_charities?key="+ category_id, type: 'get', dataType: 'html',
            processData: false,
            success: function (data) {
                $('#charities').html(data);
            }
        });
    }
</script>
