<%= form_tag "/charities/search_charities" ,:id => "e_form" do %>
    <div class="search_holder">
      <div class="srh_input">
        <label>Search:</label>
        <%= text_field_tag :search_key %>
        <a href="javascript:void(0)" id="search"><img src="/assets/Search.png"/></a>
      </div>
      <!--srh_input ends-->
    </div>
    <!--search_holder ends-->
<% end %>



<script type="text/javascript">

    $("#search").click(function () {
        var form = $(this).closest('form');
        $.post(form.attr("action"), form.serialize(), function (response) {
            $("#charities").html(response.html);
        }, "json");
        return false;
    });

    $(document).ready(function () {
        $(window).keypress(function(e){
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            e.preventDefault();
            var form = $("#e_form");
            $.post(form.attr("action"), form.serialize(), function (response) {
                console.log("aaaaa");
                $("#charities").html(response.html);
            }, "json");
            return false;
        }
        })
        });
</script>
