%ul#nav
  %li.active
    / <a href="/charities/get_charities?key=featured" class="charity-link-featured" id="Featured_Charities">Featured Charities</a>
    %a#Featured_Charities.charity-link-featured{:href => "javascript:", :onclick => "set_active('featured');"} Featured Charities
  %li
    / <a href="/charities/get_charities?key=all" class="charity-link-all" id="All_Charities">All Charities</a>
    %a#All_Charities.charity-link-all{:href => "javascript:", :onclick => "set_active('all');"} All Charities
  %li
    / <a href="/charities/get_charities?key=causes" class="charity-link-causes" id="Causes">Causes</a>
    %a#Causes.charity-link-causes{:href => "javascript:", :onclick => "set_active('causes');"} Causes
  %li
    / <a href="/charities/get_charities?key=recent" class="charity-link-recent" id="Joined_Recently">Joined Recently</a>
    %a#Joined_Recently.charity-link-recent{:href => "javascript:", :onclick => "set_active('recent');"} Joined Recently
  %li
    / <a href="/charities/get_charities?key=top_ten" class="charity-link-top_ten" id="Top_10">Top 10</a>
    %a#Top_10.charity-link-top_ten{:href => "javascript:", :onclick => "set_active('top_ten');"} Top 10
