-content_for(:about_head) do
  .slider_hold{:style => "height:auto;"}
    .slider_text
      %h1{style:"border: none;"} Browse Charities
.wrapper
  .charity_holder
    .main_content
      -#.lft_content_bar
      -#  = render :partial => "/charities/side_bar"
      -#/ lft_content_bar ends
      .rit_content
        #charities
          =render partial: "charities/new"