<div class="wrapper">
  <div class="charity_holder">
    <div class="main_content">
      <div class="lft_content_bar">
        <%= render :partial => "/charities/side_bar" %>
      </div>
      <!--lft_content_bar ends-->
      <div class="rit_content">
        <div id="charities">
          <%= render :partial => "/charities/details" %>
        </div>
        <!--charity_list ends-->
      </div>
      <!--rit_content ends-->
    </div>
    <!--main_content ends-->
  </div>
  <!--charity_holder ends-->
</div><!--wrapper ends-->
