<h1>Editing Shirt Color</h1>
<% url = admins_shirt_color_path(@shirt_color) %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_shirt_colors_path %>
</div>
