<h1>New Charity</h1>
<% url = admins_charities_path %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_charities_path %>
</div>

