<h1>New Size Category</h1>
<% url = admins_size_categories_path %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_size_categories_path %>
</div>

