<h1>Editing Size Option</h1>
<% url = admins_size_option_path(@size_option) %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_size_options_path %>
</div>
