<h1>Listing Size Options</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @size_options.each do |size_option| %>
      <tr>
        <td><%= size_option.name %></td>
        <td><%= link_to 'Edit', edit_admins_size_option_path(size_option) %></td>
        <td><%= link_to 'Destroy', admins_size_option_path(size_option), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Size Option', new_admins_size_option_path %>
