<h1>Listing questions_categories</h1>

<table>
  <tr>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions_categories.each do |questions_category| %>
  <tr>
    <td><%= questions_category.category %></td>

    <td><%= link_to 'Edit', edit_admins_questions_category_path(questions_category) %></td>
    <td><%= link_to 'Destroy', admins_questions_category_path(questions_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Questions category', new_admins_questions_category_path %>
