<h1>New questions_category</h1>

<% url = admins_questions_categories_path(@questions_categories) %>
<%= render :partial => 'form', :locals => {:url => url} %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_questions_categories_path %>
</div>