<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @questions_category.category %>
</p>


<%= link_to 'Edit', edit_questions_category_path(@questions_category) %> |
<%= link_to 'Back', questions_categories_path %>
