<h1>Listing Shirt Options</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @shirt_options.each do |shirt_option| %>
      <tr>
        <td><%= shirt_option.name %></td>
        <td><%= link_to 'Edit', edit_admins_shirt_option_path(shirt_option) %></td>
        <td><%= link_to 'Destroy', admins_shirt_option_path(shirt_option), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Shirt Option', new_admins_shirt_option_path %>
