<h1>New Shirt Option</h1>
<% url = admins_shirt_options_path %>
<%= render :partial => 'form', :locals => { :url => url } %>
<div style="float: left;width:100%;">
  <%= link_to 'Back', admins_shirt_options_path %>
</div>

