.foot
  .wrapper
    .footer_subdiv
      .footer_first_div
        %h2 Company
        .footer_first_left
          =link_to "Story", "/our_story"
          =link_to "Mission", "/about"
          =link_to "How it Works", "/how_it_works"
      .footer_first_div
        %h2 Customers
        .footer_first_left
          =link_to "Quick Quote", '/orders/quick_quote'
          =link_to "Browse Charities", '/charities'
          =link_to "Contact Us", '/contact', :class => "contact_us_footer"
      .footer_second_div
        %h2 Charities
        .footer_second_portion
          =link_to "Participate", "/participate"
          =link_to "The Benefits", "/top_ten_reasons"
          =link_to "Suggest Charity", "/charities/new"

      .footer_third_div
        .footer_second_portion{style:"border-bottom: 3px solid #CACACA;padding-bottom: 0px;margin-bottom: 10px;"}
          .socialz_list{:style => "margin-left: 45px;"}
            %a.footer_icons.fb{:href => "http://www.facebook.com/pages/Onebillionshirtsorg/537223036310715", :target => "_blank"}
            %a.footer_icons.tw{:href => "http://twitter.com/1billionshirts", :target => "_blank"}
            %a.footer_icons.gp{:href => "https://plus.google.com/u/0/109858561710022910807", :target => "_blank"}
            %a.footer_icons.pin{:href => "http://pinterest.com/1BillionShirts", :target => "_blank"}
            =mail_to "Tell Your Friends", "", subject: "Need T-shirts?  Save & Share™", body: " Hey, check out this site I found.  You will save on your T-shirt prices & the company will donate money on your behalf to a charity of your choice.  Pay it forward!\n\nOneBillionShirts.org", class: "em footer_icons"
            %a.ln{:href => "http://www.linkedin.com/company/2983736?trk=tyah", :target => "_blank"}
          %div{style:"float: right;margin-top: 0px;text-align: right;padding-right:4px;margin-bottom: 8px;"}
            =link_to "/home/download" do
              %span{style:"float: right;margin-left: 10px;"} Media Kit
              %span{style:"float: right;margin-left: 10px;font-weight: normal;color: #676767;"} Download
        %div
          %span{style:"float: left;"}
            (800) 489-2605
          %span{style:"float: right;padding-right: 10px;"}
            info@onebillionshirts.org
    .footer_subdiv{:style => "margin-top: 15px;"}
      = link_to "", "/badges", class:"contact_foot"

