<div class="wrapper">
  <div class="logo_quote">
    <div class="logo">
    </div>
    <!--logo ends-->
    <!--div class="quote_req">
      <a href="/charities">ORDER NOW</a>
    </div>
    <!--quote_req ends-->
  </div>
  <!--logo_quote ends-->
  <div class="navigation" style="position: relative">
    <ul id="nav1">
      <li><a href="/">Home</a></li>

      <li><a href="/about">Info</a>
        <ul>
          <li><a href="/about">About</a></li>
          <!--<li><a href="#">Mission</a></li>-->
          <li><a href="/our_story">Our Story</a></li>
          <li><a href="/how_it_works">How It Works</a></li>
          <li><a href="/brand">Products</a></li>
          <li><a href="/top_ten_reasons">Top 10 Reasons</a></li>
        </ul>
        <!--<li><a href="/" onmouseout="mclosetime('info_details')" onmouseover="mopen('info_details')">Info</a>-->

        <!--&lt;!&ndash;drop-top ends&ndash;&gt;-->
        <!--<div id="info_details" style="display: none;">-->
        <!--<div class="drop-mid">-->
        <!--<ul>-->
        <!--<li><a href="/about">About</a></li>-->
        <!--<li><a href="/about">Mission</a></li>-->
        <!--<li><a href="/our_story">Our Story</a></li>-->
        <!--<li><a href="/how_it_works">How It Works</a></li>-->
        <!--<li><a href="/how_it_works">Top 10 Reasons</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
      </li>


      <li><a href="/client_spotlight">Client Spotlight</a></li>
      <li><a href="/charities">Charities</a></li>
      <li><a href="/contact">Contact</a></li>


    </ul>
  </div>
  <!--nav1igation ends-->
</div>
<!--wrapper ends-->
<script type="text/javascript">

    $(document).ready(function () {

        $('#nav1 li').hover(
                function () {
                    //show its submenu
                    $('ul', this).stop().slideDown(100);

                },
                function () {
                    //hide its submenu
                    $('ul', this).stop().slideUp(100);
                }
        );

    });

</script>