.header-wrapper
  .header-container
    .logo_quote
      = link_to '', root_path, class:"logo"
      -#%div{:style => "float: right;text-align: center;-webkit-border-radius: 6px;   font-size: 20px; color: white; background-color: #ed6430; padding: 10px 45px; top: -7px;position: relative;"}
      -#  %a{href: "/orders/quick_quote", :style => "display: inline;color: white;font-size: 15px;font-weight: normal;cursor: pointer;"} Order Form

    .navigation
      %ul#nav1
        %li.active_state
          %a{:href => "/about"} LEARN MORE
        %li
          %a{:href => "/charities"} BROWSE CHARITIES
          -#%ul
          -#  %li
          -#    %a{:href => "/about"} About
          -#  / <li><a href="#">Mission</a></li>
          -#  %li
          -#    %a{:href => "/our_story"} Our Story
          -#  %li
          -#    %a{:href => "/how_it_works"} How It Works
          -#  %li
          -#    %a{:href => "/brand"} Products
          -#  %li
          -#    %a{:href => "/top_ten_reasons"} Top 10 Reasons
        %li
          %a{:href => "/contests/#{Contest.first.slug}"} CONTESTS
        %li
          %a{:href => "/orders/quick_quote"} QUICK QUOTE
        %li
          %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fonebillionshirts&width=100&height=21&colorscheme=light&layout=button_count&action=like&show_faces=false&send=false&appId=491891004239366", :style => "border:none; overflow:hidden; width:100px; height:21px;"}      -#%li
        -#  %a{:href => "/charities"} Charities
        -#%li
        -#  %a{:href => "/contact"} Contact
    / nav1igation ends
  / wrapper ends
